@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height:100vh;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;

}

.first{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
}

.wrapper{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(0,0,0,0.65), rgba(0,0,0,0.75)),
        url(../img/history1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.testimonial{
    padding: 30px 100px;
}
article h1{
    padding-top: 50px;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
}

article h1:after{
    content: "";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin:auto;
}

article h3{
    padding-top: 50px;
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
}

article h3:after{
    content: "";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin:auto;
}

article h4{
    padding-top: 50px;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

article h4:after{
    content: "";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin:auto;
}

article h5{
    padding-top: 50px;
    font-size: 50px;
    font-weight: 800;
}

article h5:after{
    content: "";
    height: 5px;
    width: 225px;
    display: block;
    margin:auto;
}

article h6{
    padding-top: 50px;
    font-size: 20px;
    font-weight: 800;
}

article h6:after{
    content: "";
    height: 5px;
    width: 225px;
    display: block;
    margin:auto;
}

article h2{
    padding-top: 300px;
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;

}

article h2:after{
    content: "";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin:auto;
}

article img {
    height: 400px;
    width: auto;
    border: 2px solid #fff;
    margin-top: 60px;
}

.testimonial p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px;
}

.second {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
}

.wrapper2 {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75)),
        url(../img/historybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.col1 {
    width: 100%;
}

.official img {
    width: 50%;
    max-height: 200px;
    height: auto;
    border: 2px solid #fff;
    margin-bottom: 10px;
}

.official3 img {
    width: 100%;
    max-height: 300px;
    height: auto;
    border: 2px solid #fff;
    margin-bottom: 10px;
}

.official3 p {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.official p {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.row1 {
    display: flex;
}

.col1 {
    float: left;
}

.background{
    margin: 150px auto;
    text-align: center;
    font-size: 30px
}

.bgh1{
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 1px;
    margin-top: -80px;
}

.bgh1:after{
    content: '';
    background: white;
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px auto;
}

.icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    flex: 1;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px; 
    background-color: rgba(161, 204, 209, 0.5);
    width: 250px;
    height: 200px;
    flex-grow: 1;
    text-align: center;
    transition: transform 0.2 ease-in-out;
  }

  .icon-container:hover {
    transform: scale(1.05);
  }

.school, .house, .hobbies {
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
}

.icon p {
    margin: 0;
    font-size: 14px;
}

.third{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
}

.ch1{
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 1px;
}

.ch1:after{
    content: '';
    background: white;
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px auto;
}

.wrapper3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/history2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contributions {
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.icon-group1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

  .icon1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    flex: 1;
}

.icon-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px; 
    background-color: rgba(233,179,132, 0.5);
    width: 250px;
    height: 200px;
    flex-grow: 1;
    text-align: center;
    transition: transform 0.2 ease-in-out;
  }

  .icon-container1:hover {
    transform: scale(1.05);
  }

.code, .design, .idea {
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
}

.icon1 p {
    margin: 0;
    font-size: 14px;
}

.fourth{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
}

.coh1{
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 1px;
}

.coh1:after{
    content: '';
    background: white;
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px auto;
}

.wrapper4{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url(../images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact {
    margin: 120px auto;
    text-align: center;
    font-size: 30px;
}

.years {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.years h5 {
    margin: 0 10px;
}

.cont{
    padding-top: 200px
}

.icon-group2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .icon2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    flex: 1;
}

.icon-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px; 
    background-color: rgba(249, 123, 34, 0.5);
    width: 250px;
    height: 200px;
    flex-grow: 1;
    text-align: center;
    transition: transform 0.2 ease-in-out;
  }

  .icon-container2:hover {
    transform: scale(1.05);
  }

.fb, .github, .x {
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
}

.icon2 p {
    margin: 0;
    font-size: 14px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.fourth a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.fourth a:hover {
    color: #ffa500;
}

.about{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .2s;
}

.navbar a:hover::before{
    width: 100%;
}

.year-2021{
    margin-top: 30px;
}

.year-2022 {
    margin-top: 30px;
}

.fifth{
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
}

.fifth a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.fifth a:hover {
    color: #ffa500;
}

.wrapper5{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url(../images/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
}

.coh2{
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 1px;
}

.ordinance{
    margin-top: 30px;
}

a {
    text-decoration: none; /* Remove underline */
    color: white; /* Change color to your desired color */
}

/* Change color for visited link */
a:visited {
    color: white; /* Change color to your desired color */
}

/* Change color for link on hover */
a:hover {
    color: red; /* Change color to your desired color on hover */
}

/* Change color for active/focused link */
a:active,
a:focus {
    outline: none; /* Remove outline */
    color: green; /* Change color to your desired color on focus */
}